<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856130206780-k02o2ehgnhktt5rfdatijv6up6n9hqtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856130206780-k02o2ehgnhktt5rfdatijv6up6n9hqtq</string>
	<key>API_KEY</key>
	<string>AIzaSyCj4NdCkgHhmrkLOR0raRGFcCxqto-dj3g</string>
	<key>GCM_SENDER_ID</key>
	<string>856130206780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ejemplo</string>
	<key>PROJECT_ID</key>
	<string>ejemplo-ede25</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo-ede25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856130206780:ios:c25792b25544373796d739</string>
</dict>
</plist>